<!DOCTYPE html>
<html>
  <head>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans%7CDroid+Sans+Mono" type="text/css" rel="stylesheet">
    <link href="./hiphop.css" type="text/css" rel="stylesheet">
    <title>{{ title }}</title>
  </head>
  <body>
    <table>
      <tr>
        <td class="bold">when (utc)</td>
        <td class="bold">who</td>
        <td class="bold">what</td>
      </tr>
      {% for link in links %}
      <tr>
        <td>{{ link[0] }}</td>
        <td class="bold">{{ link[1] }}</td>
        <td><a href="{{link[2]}}">{{link[2]}}</a></td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
